<div class = "total">
	<div class = "wrapper1">
		<h1>About Quick Shower</h1>
			<div class = "wrapper2">
				<p>We all play dirty sometimes. We get into the mud, and we roll. It gets on our hands, in our hair, and in between our toes. Before we know it, it’s time to take a shower. Unfortunately, you drive your wheels in the fast-lane, and sometimes that means it’s hard to get clean. Hey, it’s a messy road. 
				</p>

				<p>And that’s where we come in.</p>

				<p>We’re not here to tell you how to avoid the mud. But when the business meeting comes, we’re ready in your pocket to wipe it up in the nick of time. And just like you, we’re good at what we do.</p>

				<p>Quick Shower tangerine-concentrated foaming wipes. They clean you up in the nick of time.
				</p>
				<br>
				<p id="click"> CLICK HERE to see Quick Shower in action!</p>
			</div>	
	</div>	
	<div id = "photo_wrapper">
		<a><img src="images/man.png" alt="Man Showering" id="man"></a>
	</div>
</div>	

<div id="lightbox"><iframe src="https://player.vimeo.com/video/95972313" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>