<h1>About Quick Shower</h1>

	<p>Whether you are traveling far from home, or just do not have time for a full shower, Quick Shower's two-part cleansing system will leave you feeling fresh!</p>

	<p>Lather up with the wet side, and dry off with the tericloth dry side for a full body clean feeling.</p>

	<p>Perfect for air travel, hiking, camping, and after sporting events.</p>

	<a><img src="images/man.png" alt="Man Showering" id="man"></a>
	<a><img src="images/tough.jpg" alt="Tough Mudders" id="mudders"></a>
	<a><img src="images/cloths.jpg" alt="Cloths" id="cloths"></a>