
<img src="images/showerhead.jpg">

<h1> Contact Us: </h1>

	<p>We'd love to hear from you! Quick towels are available wherever showers are not.</p>

<form method="POST" action="/">   
	<label for="name">Name</label>
	<br> 
	<input type="text" name="name">   
	<br> 
	<label for="email">Email</label>  
	<br> 
	<input type="email" name="email"> 
	<br> 
	<label for="comment">Comments</label>
	<br>
	<textarea placeholder="Please put your comments here" maxlength="300" name="comment"></textarea>
	<br> 
	<input type="submit">
</form>