<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<title>Quick Shower</title>
</head>
<body>
	<nav id = "nav">
		<ul>
			<li>Contact Us</li>
			<li>Our Story</li>
			<li>About</li>
			<li>Home</li>
		</ul>	
	</nav>
	<%=yield%>
	<footer>
		<h4>2015 Quick Shower</h4>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="main.js"></script>
</body>
</html>