<h1>Our Stories</h1>

	<p>Once there were two little girls. One was a budding city slicker, one always had her nose in a book. There came a fateful day when the two met while their playmates were playing hopscotch. Liana and Ally both wanted to join the dodgeball match, but the boys wouldn’t let them. So they created their own team…The rest was history. 
	</p>
	<br>
	<p>Liana and Ally parted ways, but years later they would reunite again, at the New York Code and Design Academy. Liana wanted to bring an idea she had to life, and Ally wanted to join her. So the two conspired together, and soon they were rolling around in mud again, but this time, they had their patented tangerine-concentrated wipes to clean them up.
	</p>
	<br>
	<p>Quick Shower foaming wipes. They clean you up in the nick of time.</p>
