<h1>Our Stories</h1>

	<p>Liana and Ally met at The New York Code and Design Academy in the Web Development Intensive Class.
	</p>
	<br>
	<p>One fateful day at lunch, as they were discussion their ideas for inventions, Liana told Ally that she wanted to create a pocket-sized shower for travelers. Ally suggested to add the power of citrus oils, and the rest was history!
	</p>