*{margin: 0; padding: 0;} 
body {
    background:
        -webkit-radial-gradient(black 2.5%, rgba(0,0,128,.6) 35%, transparent 60%),
        -webkit-radial-gradient(orange 15%, rgba(255,255,0,.4) 20%, transparent 50%),
        rgba(0,128,128,.3);
    background-position: 0 0, 80px 80px;   
    -webkit-background-size:160px 160px;
    background-size:160px 160px}
#nav {
	background-color: black; border: 10px rgba(0,0,0,.7); height: 50px; width: 100%; position: fixed; top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {background: rgba(0,0,128,.6); border-top-right-radius: 360px; border-top-left-radius: 360px; text-align: center; float: right; display: block; padding-right: 15px; padding-top: 10px; color: orange; font-size: 30px;}

#man {margin-top: 50px; height: 300px; display: block; float: left;}
#mudders {margin-top: 50px; margin-right: auto; margin-left: auto; height: 300px; display: block; clear: both;}
#cloths {margin-top: 50px; height: 300px; display: block; float: right;}
footer {clear: both;}
h1{margin-top: 75px;}
#shower{margin-top: 75px; margin-bottom: 500px; height: 200px; margin-left: 100px; margin-right: 100px; float: left;}